<div id="wrapper" class="boxed">

  <div class="top_wrapper">
  <div class="top-bar">
    <div class="container">
    <div class="row">
      <div class="col-sm-7">
      <div class="call-us top-bar-block">
        <i class="icon-phone"></i>
        <span>
        Pozovite +382(0)67/615-810
        </span>
      </div>
      <div class="mail-us top-bar-block">
        <i class="icon-email"></i>                            
        <span>
        e-mail: kontakt@vikendice.me
        </span>                            
      </div>

      </div>
      <div class="col-sm-5">

      <!-- Search Box -->
      <div class="searchbox">
        <form action="#" method="get">
        <input type="text" class="searchbox-inputtext" id="searchbox-inputtext" name="s" placeholder="Pretraga"/>
        <label class="searchbox-icon" for="searchbox-inputtext"></label>
        <input type="submit" class="searchbox-submit" value="Pretraga"/>
        </form>
      </div>
      <!-- //Search Box// -->
      <div class="social-icons">
        <ul>
          <li>
            <a href="https://www.facebook.com/Hajla-Brvnare-Rožaje-599224770093815/" target="_blank" class="social-media-icon facebook-icon" data-original-title="facebook">facebook</a>
          </li>
          <li>
            <a href="#" target="_blank" class="social-media-icon twitter-icon" data-original-title="twitter">twitter</a>
          </li>
          <li>
            <a href="#" target="_blank" class="social-media-icon dribble-icon" data-original-title="dribble">dribble</a>
          </li>
        </ul>
      </div>
      </div>
    </div>
    </div>
  </div>

  <!-- Header -->
  <header id="header">
    <div class="container">

    <div class="row header">

      <!-- Logo -->
      <div class="col-xs-2 logo">
      <a href="home-version1.html">
        <img src="images/main_logo.png" alt="Hajla Brvnare"/>
      </a>
      </div>
      <!-- //Logo// -->


      <!-- Navigation File -->
      <div class="col-md-10">

      <!-- Mobile Button Menu -->
      <div class="mobile-menu-button">
        <i class="fa fa-list-ul"></i>
      </div>
      <!-- //Mobile Button Menu// -->




      <nav>
        <ul class="navigation">
        <li>
          <a href="/">
          <span class="label-nav">
            Početna
          </span>
          <span class="label-nav-sub" data-hover="Hajla Brvnare">
            Hajla Brvnare
          </span>
          </a>
        </li>
        <li>
          <a href="/about">
          <span class="label-nav">
            O nama
          </span>
          <span class="label-nav-sub" data-hover="Hajla Brvnare">
            Hajla Brvnare
          </span>
          </a>
        </li>
        <li>
          <a href="blog.html">
          <span class="label-nav">
            Zašto brvnare?
          </span>
          <span class="label-nav-sub" data-hover="O vikendicama">
            O vikendicama
          </span>
          </a>
        </li>
        <li>
          <a href="portfolio-two-columns.html">
          <span class="label-nav">
            Galerija
          </span>
          <span class="label-nav-sub" data-hover="Galerija">
            Galerija
          </span>
          </a>
        </li>
        <li>
          <a href="elements.html">
            <span class="label-nav">
              Kontakt
            </span>
            <span class="label-nav-sub" data-hover="Kontakt">
              Kontakt
            </span>
          </a>
        </li>
        </ul>
      </nav>

      <!-- Mobile Nav. Container -->
      <ul class="mobile-nav">
        <li class="responsive-searchbox">
        <!-- Responsive Nave -->
        <form action="#" method="get">
          <input type="text" class="searchbox-inputtext" id="searchbox-inputtext-mobile" name="s" />
          <button class="icon-search"></button>
        </form>
        <!-- //Responsive Nave// -->
        </li>
      </ul>
      <!-- //Mobile Nav. Container// -->
      </div>
      <!-- Nav -->

    </div>



    </div>
  </header>
  <!-- //Header// -->
  <div class="rev-slider-full">
    <div class="rev-slider-banner-full  rev-slider-full">
    <ul>


      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
      <img src="images/placeholders/slider1/bg1.jpg"  alt="rev-full1" data-fullwidthcentering="on">

      <div class="tp-caption lft stb stl"
         data-x="550"
         data-y="93"
         data-speed="500"
         data-start="500"
         data-easing="easeOutExpo"   data-end="6000" data-endspeed="500"><img src="images/placeholders/slider1/imac.png" alt="Image 1"></div>

      <!-- <div class="tp-caption lfb stb stl"
         data-x="396"
         data-y="234"
         data-speed="750"
         data-start="950"
         data-easing="easeOutExpo"   data-end="6000" data-endspeed="500"><img src="images/placeholders/slider1/ipad.png" alt="Image 1"></div> -->
<!-- 
      <div class="tp-caption lfr stb stl"
         data-x="751"
         data-y="290"
         data-speed="1000"
         data-start="1000"
         data-easing="easeOutExpo"   data-end="6000" data-endspeed="500"><img src="images/placeholders/slider1/iphone.png" alt="Image 1"></div> -->

      <div class="tp-caption slider-text-title sft str"
         data-x="20"
         data-y="150"
         data-speed="300"
         data-start="800"
         data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Drvena kuća iz snova</div>


      <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="200" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
        Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br /> 
        lorem quis bibendum auctor, nisi elit consequat ipsum, nec <br />
        sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
      </div>
      <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="280" data-start="1500" data-easing="easeOutBack"data-end="5000" data-endspeed="500">
        <a href="#" class="button btn-flat">More Info</a>
      </div>                  

      </li>


      <li  data-transition="slideleft" data-slotamount="14">
      <img src="images/placeholders/slider1/bg2.jpg" alt="Rev Full">

      <div class="caption sfb" data-x="533" data-y="95" data-speed="700" data-start="0"
         data-easing="easeOutBack">
        <img src="images/placeholders/slider1/mobile.png" alt=""/>
      </div>

      <div class="tp-caption slider-text-title sft str"
         data-x="20"
         data-y="150"
         data-speed="300"
         data-start="800"
         data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Zdrav ambijent</div>


      <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="200" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
        Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br /> 
        lorem quis bibendum auctor, nisi elit consequat ipsum, nec <br />
        sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
      </div>
      <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="280" data-start="1500" data-easing="easeOutBack"data-end="5000" data-endspeed="500">
        <a href="#" class="button btn-flat">More Info</a>
      </div>                

      </li>

    </ul>
    <div class="tp-bannertimer tp-bottom"></div>
    </div>
  </div></div><!--.top wrapper end -->

  <div class="loading-container">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
  </div>

    <div class="content-wrapper hide-until-loading">
      <div class="section-content top-body">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-3"> 
              <div class="content-box style5 small  animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
                 >
                <h4 class="h4-body-title">
                  <i class="icon-ipad"></i>
                  <strong>Responsive </strong> Design
                </h4>
                <div class="content-box-text">
                  Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                  ligula. Nunc commodo lacinia eros ac condimentum

                </div>

              </div>
            </div>
            <div class="col-md-3 col-sm-3"> 
              <div class="content-box style5 small  animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
                 >
                <h4 class="h4-body-title">
                  <i class="icon-settings"></i>
                  <strong>Very </strong> Flexible
                </h4>
                <div class="content-box-text">
                  Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                  ligula. Nunc commodo lacinia eros ac condimentum

                </div>

              </div>
            </div>
            <div class="col-md-3 col-sm-3"> 
              <div class="content-box style5 small  animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
                 >
                <h4 class="h4-body-title">
                  <i class="icon-painting-roll-streamline"></i>
                  <strong>Unlimited </strong> Skins
                </h4>
                <div class="content-box-text">
                  Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                  ligula. Nunc commodo lacinia eros ac condimentum

                </div>

              </div>
            </div>
            <div class="col-md-3 col-sm-3"> 
              <div class="content-box style5 small  animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
                 >
                <h4 class="h4-body-title">
                  <i class="icon-file-settings"></i>
                  <strong>Well </strong> Documented
                </h4>
                <div class="content-box-text">
                  Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                  ligula. Nunc commodo lacinia eros ac condimentum

                </div>

              </div>
            </div>


          </div>
        </div>
        </div>    
      </div>

  <div class="body-wrapper">

    <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
       data-animrepeat="0"
       data-speed="1s"
       data-delay="0.5s">
      <h2 class="h2-section-title">Naši projekti</h2>

      <div class="i-section-title">
        <i class="icon-files">

        </i>
      </div>

      <div class="space-sep20"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12">
      <div class="portfolio-items">

        <!-- Portfolio Item -->
        <div class="thumb-label-item animated web-design"
         data-animtype="fadeInUp"
         data-animrepeat="0"
         data-speed="1s"
         data-delay="0.6s">
        <div class="img-overlay thumb-label-item-img">
          <img
          src="images/placeholders/portfolio1.jpg"
          alt=""/>

          <div class="item-img-overlay">
          <a class="portfolio-zoom fa fa-plus"
             href="images/placeholders/portfolio1.jpg"
             data-rel="prettyPhoto[portfolio]" title="Skadarsko jezero"></a>

          <div class="item_img_overlay_content">
            <h3 class="thumb-label-item-title">
            <a href=""> Skadarsko jezero </a>
            </h3>
          </div>

          </div>
        </div>


        </div>
        <!-- //Portfolio Item// -->
        <!-- Portfolio Item -->
        <div class="thumb-label-item animated seo"
         data-animtype="fadeInUp"
         data-animrepeat="0"
         data-speed="1s"
         data-delay="0.8s">
        <div class="img-overlay thumb-label-item-img">
          <img
          src="images/placeholders/portfolio2.jpg"
          alt=""/>

          <div class="item-img-overlay">
          <a class="portfolio-zoom fa fa-plus"
             href="images/placeholders/portfolio2.jpg"
             data-rel="prettyPhoto[portfolio]" title="Rožaje"></a>

          <div class="item_img_overlay_content">
            <h3 class="thumb-label-item-title">
            <a href=""> Rožaje </a>
            </h3>
          </div>

          </div>
        </div>


        </div>
        <!-- //Portfolio Item// -->
        <!-- Portfolio Item -->
        <div class="thumb-label-item animated videos"
         data-animtype="fadeInUp"
         data-animrepeat="0"
         data-speed="1s"
         data-delay="1s">
        <div class="img-overlay thumb-label-item-img">
          <img
          src="images/placeholders/portfolio3.jpg"
          alt=""/>

          <div class="item-img-overlay">
          <a class="portfolio-zoom fa fa-plus"
             href="images/placeholders/portfolio3.jpg"
             data-rel="prettyPhoto[portfolio]" title="Šćepan polje"></a>

          <div class="item_img_overlay_content">
            <h3 class="thumb-label-item-title">
            <a href=""> Šćepan polje </a>
            </h3>
          </div>

          </div>
        </div>


        </div>
        <!-- //Portfolio Item// -->
        <!-- Portfolio Item -->
        <div class="thumb-label-item animated web-design"
         data-animtype="fadeInUp"
         data-animrepeat="0"
         data-speed="1s"
         data-delay="1.2s">
        <div class="img-overlay thumb-label-item-img">
          <img
          src="images/placeholders/portfolio4.jpg"
          alt=""/>

          <div class="item-img-overlay">
          <a class="portfolio-zoom fa fa-plus"
             href="images/placeholders/portfolio4.jpg"
             data-rel="prettyPhoto[portfolio]" title="Pljevlja"></a>

          <div class="item_img_overlay_content">
            <h3 class="thumb-label-item-title">
            <a href=""> Pljevlja </a>
            </h3>
          </div>

          </div>
        </div>


        </div>
        <!-- //Portfolio Item// -->
        <!-- Portfolio Item -->
        <div class="thumb-label-item animated branding"
         data-animtype="fadeInUp"
         data-animrepeat="0"
         data-speed="1s"
         data-delay="1.4s">
        <div class="img-overlay thumb-label-item-img">
          <img
          src="images/placeholders/portfolio5.jpg"
          alt=""/>

          <div class="item-img-overlay">
          <a class="portfolio-zoom fa fa-plus"
             href="images/placeholders/portfolio5.jpg"
             data-rel="prettyPhoto[portfolio]" title="Kolašin"></a>

          <div class="item_img_overlay_content">
            <h3 class="thumb-label-item-title">
            <a href=""> Kolašin </a>
            </h3>
          </div>

          </div>
        </div>


        </div>
        <!-- //Portfolio Item// -->
        <!-- Portfolio Item -->
        <div class="thumb-label-item animated web-design"
         data-animtype="fadeInUp"
         data-animrepeat="0"
         data-speed="1s"
         data-delay="1.6s">
        <div class="img-overlay thumb-label-item-img">
          <img
          src="images/placeholders/portfolio6.jpg"
          alt=""/>

          <div class="item-img-overlay">
          <a class="portfolio-zoom fa fa-plus"
             href="images/placeholders/portfolio6.jpg"
             data-rel="prettyPhoto[portfolio]" title="Šćepan Polje"></a>

          <div class="item_img_overlay_content">
            <h3 class="thumb-label-item-title">
            <a href=""> Šćepan Polje </a>
            </h3>
          </div>

          </div>
        </div>


        </div>
        <!-- //Portfolio Item// -->
        <!-- Portfolio Item -->
        <div class="thumb-label-item animated branding"
         data-animtype="fadeInUp"
         data-animrepeat="0"
         data-speed="1s"
         data-delay="1.8s">
        <div class="img-overlay thumb-label-item-img">
          <img
          src="images/placeholders/portfolio7.jpg"
          alt=""/>

          <div class="item-img-overlay">
          <a class="portfolio-zoom fa fa-plus"
             href="images/placeholders/portfolio7.jpg"
             data-rel="prettyPhoto[portfolio]" title="Stari Bar"></a>

          <div class="item_img_overlay_content">
            <h3 class="thumb-label-item-title">
            <a href=""> Stari Bar </a>
            </h3>
          </div>

          </div>
        </div>


        </div>
        <!-- //Portfolio Item// -->
        <!-- Portfolio Item -->
        <div class="thumb-label-item animated web-design"
         data-animtype="fadeInUp"
         data-animrepeat="0"
         data-speed="1s"
         data-delay="2s">
        <div class="img-overlay thumb-label-item-img">
          <img
          src="images/placeholders/portfolio8.jpg"
          alt=""/>

          <div class="item-img-overlay">
          <a class="portfolio-zoom fa fa-plus"
             href="images/placeholders/portfolio8.jpg"
             data-rel="prettyPhoto[portfolio]" title="Kolašin"></a>

          <div class="item_img_overlay_content">
            <h3 class="thumb-label-item-title">
            <a href=""> Kolašin </a>
            </h3>
          </div>

          </div>
        </div>


        </div>
        <!-- //Portfolio Item// -->


      </div>
      </div>
    </div>

    </div>

    
                  <div class="container">
                      <div class="space-sep20"></div>
                      <div class="divider divider-shadow"></div>
                      <div class="space-sep20"></div>
                  </div>


                  <div class="container">
                      <div class="row">

                          <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInLeft"
                               data-animrepeat="0"
                               data-speed="1s"
                               data-delay="0.5s">

                              <div class="tab-container"  id="tab-container-1" >
                                  <ul class="etabs">

                                      <li class="tab">
                                          <a href="#tab1"><i class=icon-feather></i>O nama</a>
                                      </li>


                                      <li class="tab">
                                          <a href="#tab2"><i class=icon-drive></i>Brvnare</a>
                                      </li>


                                      <li class="tab">
                                          <a href="#tab3"><i class=icon-map></i>Kontakt</a>
                                      </li>

                                  </ul>            

                                  <div class="tabs-content">
                                      <div id="tab1">
                                          D.O.O "Ami Prom" i D.O.O "Elvis Comerc" Ro&#382;aje donijele su strate&scaron;ki plan &#269;iji je cilj da obezbijedi dugoro&#269;no uspje&scaron;no poslovanje i razvoj preduze&#263;a u okviru djelatnosti eksplatacije &scaron;uma, primarne prerade drveta te specijalizovane proizvodnje vikend ku&#263;ica i bungalova od drveta kao i gra&#273;evinske stolarije, prizvodnja lamelnih sistema od &#269;amovog drveta a i drugih vrsta drveta te proizvodnja finalnih nus proizvoda kako bi se svi sastojci drveta iskoristili i za&scaron;titila radna i &#382;ivotna sredina &#269;ovjeka od bilo kakvih zaga&#273;enja a sve po novoj savremenoj tehnologiji sa prate&#263;im sadr&#382;ajima, &scaron;to do sada našim prostorima u industrijskom smislu postoji veoma malo.
                                      </div>
                                      <div id="tab2">
                                          Izbor Va&scaron;eg budu&#263;eg doma potrebno je sagledati kroz razne aspekte, a odluku nipo&scaron;to ne treba donositi napre&#269;ac. Postoje mnogi razlozi za odabir drvene ku&#263;e: zdraviji ambijent, bliskost prirodi, &#382;elja za estetikom, a posebno cijena.<br/><br/>
                                          <center><iframe width="360" height="215" src="https://www.youtube.com/embed/iw37rBqwHk8" frameborder="0" allowfullscreen></iframe></center>
                                      </div>
                                      <div id="tab3">
                                          <div class="sidebar-icon-item">
                                              <i class="icon-phone"></i> +382(0)67/615-810
                                          </div>
                                          <div class="sidebar-icon-item">
                                              <i class="icon-mail"></i> kontakt@vikendice.me
                                          </div>
                                          <div class="sidebar-icon-item">
                                              <i class="icon-home"></i> Sandžačka ulica, broj 37, Ibarac, Rožaje
                                          </div>

                                          <div class="social-icons">

                                              <ul>
                                                  <li>
                                                      <a href="#" title="facebook" target="_blank" class="social-media-icon facebook-icon">zerply</a>
                                                  </li>
                                                  <li>
                                                      <a href="#" title="twitter" target="_blank" class="social-media-icon twitter-icon">dropbox</a>
                                                  </li>
                                                  <li>
                                                      <a href="#" title="digg" target="_blank" class="social-media-icon digg-icon">digg</a>
                                                  </li>
                                                  <li>
                                                      <a href="#" title="mail" target="_blank" class="social-media-icon mail-icon">mail</a>
                                                  </li>
                                                  <li>
                                                      <a href="#" title="flickr" target="_blank" class="social-media-icon flickr-icon">flickr</a>
                                                  </li>

                                              </ul>

                                          </div>

                                      </div>
                                  </div>

                              </div>

                          </div>

                            <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInRight"
                               data-animrepeat="0"
                               data-speed="1s"
                               data-delay="0.5s">
                                <div class="title-block clearfix">
                                  <h3 class="h3-body-title">Za&scaron;to drvena ku&#263;a?</h3>
                                  <div class="title-seperator"></div>
                                </div><ul class="icons-list check-2 colored-list">
                                  <li>Zdraviji ambijent</li>
                                  <li>Bliskost prirodi</li>
                                  <li>Estetika</li>
                                  <li>Energetska efikasnost</li>
                                  <li>Cijena</li>
                                </ul>            
                              </div>             
                      </div>
                  </div>
              </div>

    <div class="space-sep40"></div>


    </div>
    </div>

  </div>


  <div class="testimonial-big">
    <div class="container">
    <div class="row">
      <div class="testimonial-big-text animated" data-animtype="fadeInRight"
         data-animrepeat="1"
         data-speed="1s"
         data-delay="0s">
        Istraživanja su pokazala da drvene konstrukcije ne sprečavaju prolazak Zemljinih linija sila magnetskog polja koje su važne za ljudsko zdravlje.
      </div>

    </div>
    </div>
  </div>
  </div><!--.content-wrapper end -->
  <footer>
  <div class="footer">

    <div class="container">
    <div class="footer-wrapper">
      <div class="row">


      <!-- Footer Col. -->
      <div class="col-md-3 col-sm-3 footer-col">
        <div class="footer-content">
        <div class="footer-content-logo">
          <img src="images/main_logo.png" alt=""/>
        </div>
        <div class="footer-content-text">
          <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget
          dolor.</p>
          <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget
          dolor.</p>
        </div>
        </div>
      </div>
      <!-- //Footer Col.// -->


      <!-- Footer Col. -->
      <div class="col-md-3 col-sm-3 footer-col">
        <div class="footer-title">
          Facebook
        </div>
        <div class="footer-content footer-recent-tweets-container">
        <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/bs_BA/sdk.js#xfbml=1&version=v2.8&appId=774629639341717";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-page" 
                  data-href="https://www.facebook.com/Hajla-Brvnare-Rožaje-599224770093815/"
                  data-width="230" 
                  data-hide-cover="false"
                  data-show-facepile="true" 
                  data-show-posts="false">
                </div>
<!--         <ul class="tweetList footer-recent-tweets">
          <li class="tweet_content item">
          <p>Grab a copy of the popular Boomerang theme for $10 until its next release! </p>
          <p class="timestamp">2 days ago</p>
          </li>
          <li class="tweet_content item">
          <p>Newest Blog Awesome post: Stacking Text and Icons <a href="http://t.co/1qRP8K1wjG">Check it</a></p>
          <p class="timestamp">4 days ago</p>
          </li>
        </ul>                            
 -->
        </div>
      </div>
      <!-- //Footer Col.// -->


      <!-- Footer Col. -->
      <div class="col-md-3 col-sm-3 footer-col">
        <div class="footer-title">
        Links
        </div>
        <div class="footer-content">
        <ul class="footer-category-list">
          <li>
          <a href="">Lorem Ipsum</a>
          </li>
          <li>
          <a href="">Dolor Sit Amet</a>
          </li>
          <li>
          <a href="">Nullam dignissim</a>
          </li>
          <li>
          <a href="">Lorem Ipsum</a>
          </li>
          <li>
          <a href="">Lorem Ipsum</a>
          </li>
          <li>
          <a href="">Dolor Sit Amet</a>
          </li>
          <li>
          <a href="">Dolor Sit Amet</a>
          </li>
        </ul>
        </div>
      </div>
      <!-- //Footer Col.// -->


      <!-- Footer Col. -->
      <div class="col-md-3 col-sm-3 footer-col">
        <div class="footer-title">
        Photostream
        </div>
        <div class="footer-content">
        <div class="flickr_badge_wrapper">
          <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&display=random&size=s&layout=x&source=all_tag&tag=log,cabins" id="flicker-images"></script>                            
        </div>
        <!-- //Footer Col.// -->

        </div>
      </div>
      </div>
    </div>

    </div>
    <div class="copyright">
    <div class="container">
      <div class="row">
      <div class="col-md-12 col-sm-12 center-text">
        <div class="copyright-text">&copy; 2016 Hajla Brvnare | developed by <a href=""> Emerald Apps Rožaje </a></div>
      </div>
      </div>
    </div>
    </div>
  </div>
  </footer>

</div><!-- wrapper end -->
