<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
  <head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Hajla Brvnare Rožaje</title>

  <!--[if lt IE 9]>
  <script type="text/javascript" src="js/ie-fixes.js"></script>
  <link rel="stylesheet" href="css/ie-fixes.css">
  <![endif]-->

  <meta name="description" content="Hajla Brvnare">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--- This should placed first off all other scripts -->




  <link rel="stylesheet" href="css/revolution_settings.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <link rel="stylesheet" href="css/axfont.css">
  <link rel="stylesheet" href="css/tipsy.css">
  <link rel="stylesheet" href="css/prettyPhoto.css">
  <link rel="stylesheet" href="css/isotop_animation.css">
  <link rel="stylesheet" href="css/animate.css">
  <link href='css/style.css' rel='stylesheet' type='text/css'> 
  <link href='css/responsive.css' rel='stylesheet' type='text/css'>

  <link href="css/skins/light-blue.css" rel='stylesheet' type='text/css' id="skin-file">



  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script type="text/javascript" src="js/respond.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="css/color-chooser.css">
  </head>
  <body class="bgpattern-retina-wood">




    <div id="wrapper" class="boxed">

    <div class="top_wrapper">
    <div class="top-bar">
      <div class="container">
      <div class="row">
        <div class="col-sm-7">
        <div class="call-us top-bar-block">
          <i class="icon-phone"></i>
          <span>
          Pozovite +382(0)67/615-810
          </span>
        </div>
        <div class="mail-us top-bar-block">
          <i class="icon-email"></i>                            
          <span>
          e-mail: kontakt@vikendice.me
          </span>                            
        </div>

              </div>
              <div class="col-sm-5">

                <!-- Search Box -->
                <div class="searchbox">
                  <form action="#" method="get">
                    <input type="text" class="searchbox-inputtext" id="searchbox-inputtext" name="s" placeholder="Search.."/>
                    <label class="searchbox-icon" for="searchbox-inputtext"></label>
                    <input type="submit" class="searchbox-submit" value="Search"/>
                  </form>
                </div>
                <!-- //Search Box// -->
                <div class="searchbox">
                  <form action="#" method="get">
                  <input type="text" class="searchbox-inputtext" id="searchbox-inputtext" name="s" placeholder="Pretraga"/>
                  <label class="searchbox-icon" for="searchbox-inputtext"></label>
                  <input type="submit" class="searchbox-submit" value="Pretraga"/>
                  </form>
                </div>
                <!-- //Search Box// -->
                <div class="social-icons">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/Hajla-Brvnare-Rožaje-599224770093815/" target="_blank" class="social-media-icon facebook-icon" data-original-title="facebook">facebook</a>
                    </li>
                    <li>
                      <a href="#" target="_blank" class="social-media-icon twitter-icon" data-original-title="twitter">twitter</a>
                    </li>
                    <li>
                      <a href="#" target="_blank" class="social-media-icon dribble-icon" data-original-title="dribble">dribble</a>
                    </li>
                  </ul>
                </div>
                </div>
              </div>
              </div>
            </div>
        <!-- Header -->
        <header id="header">
      <div class="container">

      <div class="row header">

        <!-- Logo -->
        <div class="col-xs-2 logo">
        <a href="home-version1.html">
          <img src="images/main_logo.png" alt="Hajla Brvnare"/>
        </a>
        </div>
        <!-- //Logo// -->


        <!-- Navigation File -->
        <div class="col-md-10">

        <!-- Mobile Button Menu -->
        <div class="mobile-menu-button">
          <i class="fa fa-list-ul"></i>
        </div>
        <!-- //Mobile Button Menu// -->




        <nav>
          <ul class="navigation">
          <li>
            <a href="/">
            <span class="label-nav">
              Početna
            </span>
            <span class="label-nav-sub" data-hover="Hajla Brvnare">
              Hajla Brvnare
            </span>
            </a>
          </li>
          <li>
            <a href="/about">
            <span class="label-nav">
              O nama
            </span>
            <span class="label-nav-sub" data-hover="Hajla Brvnare">
              Hajla Brvnare
            </span>
            </a>
          </li>
          <li>
            <a href="blog.html">
            <span class="label-nav">
              Zašto brvnare?
            </span>
            <span class="label-nav-sub" data-hover="O vikendicama">
              O vikendicama
            </span>
            </a>
          </li>
          <li>
            <a href="portfolio-two-columns.html">
            <span class="label-nav">
              Galerija
            </span>
            <span class="label-nav-sub" data-hover="Galerija">
              Galerija
            </span>
            </a>
          </li>
          <li>
            <a href="elements.html">
              <span class="label-nav">
                Kontakt
              </span>
              <span class="label-nav-sub" data-hover="Kontakt">
                Kontakt
              </span>
            </a>
          </li>
          </ul>
        </nav>

                <!-- Mobile Nav. Container -->
                <ul class="mobile-nav">
                  <li class="responsive-searchbox">
                    <!-- Responsive Nave -->
                    <form action="#" method="get">
                      <input type="text" class="searchbox-inputtext" id="searchbox-inputtext-mobile" name="s" />
                      <button class="icon-search"></button>
                    </form>
                    <!-- //Responsive Nave// -->
                  </li>
                </ul>
                <!-- //Mobile Nav. Container// -->
              </div>
              <!-- Nav -->

            </div>



          </div>
        </header>
        <!-- //Header// -->
        <div class="top-title-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="page-info">
                  <h1 class="h1-page-title">O nama</h1>

                  <h2 class="h2-page-desc">
                    Hajla Brvnare Rozaje
                  </h2>

                  <!-- BreadCrumb -->
                  <div class="breadcrumb-container">
                    <ol class="breadcrumbs">
                      <li>
                        <a href="/">Početna</a>
                      </li>
                      <li class="active">O nama</li>
                    </ol>
                  </div>
                  <!-- BreadCrumb -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--.top wrapper end -->

      <div class="loading-container">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>


      <div class="content-wrapper hide-until-loading"><div class="body-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
                 data-animrepeat="0"
                 data-speed="1s"
                 data-delay="0.4s">
                <h2 class="h2-section-title">O nama</h2>
                <div class="i-section-title">
                  <i class="icon-feather">

                  </i>
                </div>
              </div>
            </div>

            <div class="space-sep20"></div>

            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="title-block clearfix">
                  <h3 class="h3-body-title">HAJLA BRVNARE</h3>
                  <div class="title-seperator"></div>
                </div>                <p>
                  D.O.O "Ami Prom" i D.O.O "Elvis Comerc" Rožaje donijele su strateški plan čiji je cilj da obezbijedi dugoročno uspješno poslovanje i razvoj preduzeća u okviru djelatnosti eksplatacije šuma, primarne prerade drveta te specijalizovane proizvodnje vikend kućica i bungalova od drveta kao i građevinske stolarije, prizvodnja lamelnih sistema od čamovog drveta a i drugih vrsta drveta te proizvodnja finalnih nus proizvoda kako bi se svi sastojci drveta iskoristili i zaštitila radna i životna sredina čovjeka od bilo kakvih zagađenja a sve po novoj savremenoj tehnologiji sa pratećim sadržajima, što do sada našim prostorima u industrijskom smislu postoji veoma malo.

                </p>
              </div>

              <div class="col-md-6 col-sm-6">
                <div class="cycle-slideshow frame1"
                   data-cycle-slides="> .slider-img"
                   data-cycle-swipe="false"
                   data-cycle-prev=".cycle-prev"
                   data-cycle-next=".cycle-next"
                   data-cycle-overlay-fx-out="slideUp"
                   data-cycle-overlay-fx-in="slideDown"
                   data-cycle-timeout=0>
                  <div class="fa fa-chevron-right cycle-next"></div>
                  <div class="fa fa-chevron-left cycle-prev"></div>

                  <div class="cycle-pager"></div>

                  <!-- slider item -->
                  <div class="slider-img">

                    <img src="images/logo1.jpg" alt="Hajla Brvnare"/>
                  </div>
                  <!-- //slider item// -->
                </div>


              </div>               

            </div>

            <div class="space-sep40"></div>


            <div class="row">

              <div class="col-md-12 col-sm-12">

                <div class="title-block clearfix">
                  <h3 class="h3-body-title">Your Business Solution</h3>
                  <div class="title-seperator"></div>
                </div><div class="accordion" data-toggle="off" data-active-index="0">


                  <div class="accordion-row">

                    <div class="title">
                      <div class="open-icon"></div>
                      <h4>Koliko košta izrada vikendice?</h4>
                    </div>
                    <div class="desc">Cijena izgradnje vikendice na dva nivoa je 170€ po metru kvadratnom. Cijena vikendice na jednom nivou je 220€ po metru kvadratnom.</div>
                  </div>


                  <div class="accordion-row">

                    <div class="title">
                      <div class="open-icon"></div>
                      <h4>Šta je uračunato u cijenu?</h4>
                    </div>
                    <div class="desc">U cijenu su uračunate podna, krovna i zidna izolacija. Ukoliko želite vikendicu na dva nivoa, na prvom spratu (drugom nivou), izrađuje se dupli pod. Stolarija za čitav objekat, krov i krovni pokrivač su također uračunati u cijenu. Dakle, sve osim keramike i struje. Prijevoz vikendice na teritoriji Crne Gore je besplatan.</div>
                  </div>


                  <div class="accordion-row">

                    <div class="title">
                      <div class="open-icon"></div>
                      <h4>Više detalja o strukturi</h4>
                    </div>
                    <div class="desc">Debljna brvna je 8cm sa duplim nutom (sa izolacijom, debljina zida tada bude 15,4cm). Nakon brvna, postavlja se roštilj letva a zatim i stiropor a nakon toga i ptefalc (dekorativna lamperija). Za krovnu konstrukciju idu fino obrađeni rogovi, zatim prefalc lamperija, paropropustljiva folija, staklena vuna, drugi sloj paropropustljive folije, kontra letva za ventilaciju i roštilj letva za postavljanje rebrastog lima. Za pod se koristi terpapir, izolacija od 5 do 8 cm (stiropor). Roštilj se pravi na 50cm od letve. Letva se tipla na 40cm zatim se stavlja se paropropustljiva folija i na kraju patos.</div>
                  </div>


                </div>            </div>
            </div>

            <div class="space-sep40"></div>
        <div class="section-content bottom-body clients-section">
          <div class="container">

            <div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="bottom-body-clients">
                  <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s"><img src="images/placeholders/clients/logo1.png" alt="Logo" class="img-responsive client-image" /></li>
                  <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s"><img src="images/placeholders/clients/logo3.png" alt="Logo" class="img-responsive client-image" /></li>
                  <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s"><img src="images/placeholders/clients/logo4.png" alt="Logo" class="img-responsive client-image" /></li>
                </ul>            </div>
            </div>

          </div>

        </div>
      </div><!--.content-wrapper end -->
      <footer>
        <div class="footer">

          <div class="container">
            <div class="footer-wrapper">
              <div class="row">


                <!-- Footer Col. -->
                <div class="col-md-3 col-sm-3 footer-col">
                  <div class="footer-content">
                    <div class="footer-content-logo">
                      <img src="images/main_logo.png" alt=""/>
                    </div>
                    <div class="footer-content-text">
                      <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget
                        dolor.</p>
                      <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget
                        dolor.</p>
                    </div>
                  </div>
                </div>
                <!-- //Footer Col.// -->


                <!-- Footer Col. -->
                <div class="col-md-3 col-sm-3 footer-col">
                  <div class="footer-title">
                    Recent Tweets
                  </div>
                  <div class="footer-content footer-recent-tweets-container">
                    <ul class="tweetList footer-recent-tweets">
                      <li class="tweet_content item">
                        <p>Grab a copy of the popular Boomerang theme for $10 until its next release! </p>
                        <p class="timestamp">2 days ago</p>
                      </li>
                      <li class="tweet_content item">
                        <p>Newest Blog Awesome post: Stacking Text and Icons <a href="http://t.co/1qRP8K1wjG">Check it</a></p>
                        <p class="timestamp">4 days ago</p>
                      </li>
                    </ul>                            

                  </div>
                </div>
                <!-- //Footer Col.// -->


                <!-- Footer Col. -->
                <div class="col-md-3 col-sm-3 footer-col">
                  <div class="footer-title">
                    Links
                  </div>
                  <div class="footer-content">
                    <ul class="footer-category-list">
                      <li>
                        <a href="">Lorem Ipsum</a>
                      </li>
                      <li>
                        <a href="">Dolor Sit Amet</a>
                      </li>
                      <li>
                        <a href="">Nullam dignissim</a>
                      </li>
                      <li>
                        <a href="">Lorem Ipsum</a>
                      </li>
                      <li>
                        <a href="">Lorem Ipsum</a>
                      </li>
                      <li>
                        <a href="">Dolor Sit Amet</a>
                      </li>
                      <li>
                        <a href="">Dolor Sit Amet</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- //Footer Col.// -->


                <!-- Footer Col. -->
                <div class="col-md-3 col-sm-3 footer-col">
                  <div class="footer-title">
                    Photostream
                  </div>
                  <div class="footer-content">
                    <div class="flickr_badge_wrapper">
                      <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&display=latest&size=s&layout=x&source=all_tag&tag=Sky,scrappers" id="flicker-images"></script>                            
                    </div>
                    <!-- //Footer Col.// -->

                  </div>
                    </div>
                    </div>
                  </div>

                  </div>
                  <div class="copyright">
                  <div class="container">
                    <div class="row">
                    <div class="col-md-12 col-sm-12 center-text">
                      <div class="copyright-text">&copy; 2016 Hajla Brvnare | developed by <a href=""> Emerald Apps Rožaje </a></div>
                    </div>
                    </div>
                  </div>
                  </div>
                </div>
                </footer>

    </div><!-- wrapper end -->

    <script type="text/javascript" src="js/_jq.js"></script>

    <script type="text/javascript" src="js/_jquery.placeholder.js"></script>






    <script src="js/activeaxon_menu.js" type="text/javascript"></script> 
    <script src="js/animationEnigne.js" type="text/javascript"></script> 
    <script src="js/bootstrap.min.js" type="text/javascript"></script> 
    <script src="js/ie-fixes.js" type="text/javascript"></script> 
    <script src="js/jq.appear.js" type="text/javascript"></script> 
    <script src="js/jquery.base64.js" type="text/javascript"></script> 
    <script src="js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script> 
    <script src="js/jquery.cycle.js" type="text/javascript"></script> 
    <script src="js/jquery.cycle2.carousel.js" type="text/javascript"></script> 
    <script src="js/jquery.easing.1.3.js" type="text/javascript"></script> 
    <script src="js/jquery.easytabs.js" type="text/javascript"></script> 
    <script src="js/jquery.infinitescroll.js" type="text/javascript"></script> 
    <script src="js/jquery.isotope.js" type="text/javascript"></script> 
    <script src="js/jquery.prettyPhoto.js" type="text/javascript"></script> 
    <script src="js/jQuery.scrollPoint.js" type="text/javascript"></script> 
    <script src="js/jquery.themepunch.plugins.min.js" type="text/javascript"></script> 
    <script src="js/jquery.themepunch.revolution.js" type="text/javascript"></script> 
    <script src="js/jquery.tipsy.js" type="text/javascript"></script> 
    <script src="js/jquery.validate.js" type="text/javascript"></script> 
    <script src="js/jQuery.XDomainRequest.js" type="text/javascript"></script> 
    <script src="js/kanzi.js" type="text/javascript"></script> 
    <script src="js/retina.js" type="text/javascript"></script> 
    <script src="js/timeago.js" type="text/javascript"></script> 
    <script src="js/tweetable.jquery.js" type="text/javascript"></script> 
  </body>
</html>
